runtime: python37
service: ingest-nvd-cve
entrypoint: gunicorn -t 300 -b :8080 -w 1 app.main:app
env_variables:
    PROJECT: $ANALYTICS_PROJECT   # replace in cloud build step
    TOPIC: nvd-cve
    SUBSCRIPTION: nvd-cve
    DATASET: nvd_cve
    TABLE: nvd_cve


